
<div class="container pt-3">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a routerLink="/create" class="nav-link" routerLinkActive="active">Create</a>
    </li>
    <li class="nav-item">
      <a routerLink="/preview" class="nav-link" routerLinkActive="active">Preview</a>
    </li>

    <li class="nav-item">
      <a routerLink="/export" class="nav-link" routerLinkActive="active">Export</a>
    </li>
  </ul>
  <div class="mt-1"><router-outlet></router-outlet></div>
</div>
