<div [formGroup]="formGroup" >
  <div class="card mb-3" >
  <div class="card-body">

    <div class="form-group">
      <label>Question</label>
      <input
        formControlName="question"
        type="text"
        class="form-control" />
    </div>
    <div class="form-group">
      <label>Type</label>
      <select class="form-control" formControlName="type">
        <option value="text">Text</option>
        <option value="number">Number</option>
        <option value="yesNo">Yes/No</option>
      </select>
    </div>
    <div>
      <div class="form-inline form-group" *ngIf="!isRootControl">
        <div class="form-group mr-2">
          <label class="mr-1">Condition</label>
          <select class="form-control" formControlName="conditionType">
            <option value="equals">Equals</option>
            <option value="greater" *ngIf="formGroup.controls['type'].value === 'number'">Greater than</option>
            <option value="less" *ngIf="formGroup.controls['type'].value === 'number'">Less than</option>
          </select>
        </div>
        <div class="form-group">
          <select *ngIf="formGroup.controls['type'].value === 'yesNo'"
                  class="form-control"
                  formControlName="conditionValue">
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
          <input *ngIf="formGroup.controls['type'].value === 'text'"
                 type="text"
                 class="form-control form-inline"
                 formControlName="conditionValue">
          <input *ngIf="formGroup.controls['type'].value === 'number'"
                 type="number"
                 class="form-control form-inline"
                 formControlName="conditionValue">
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="addSubInput()">Add SubInput</button>
    <button type="button" class="btn btn-danger"
            (click)="removeInput()">Remove</button>
  </div>
</div>
  <div formArrayName="dynamicControls">
    <div class="ml-5" *ngFor="let input of dynamicControls.controls; let i= index">
      <app-form-creator-input
        [formGroup]="dynamicControls.at(i)"
        [index]="i"
        (add)="handleAddSubInput($event)"
        (remove)="handleRemoveSubInput($event)">
      </app-form-creator-input>
    </div>

  </div>
</div>
