<div *ngIf="enableControl()" class="form-group" [formGroup]="form">
  <div><label class="form-check-label">{{controlTitle}}</label></div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" [formControlName]="controlName" value="yes">
    <label class="form-check-label">Yes</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio"  [formControlName]="controlName" value="no">
    <label class="form-check-label">No</label>
  </div>
</div>
